In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('train.csv',usecols=['GarageQual','FireplaceQu','SalePrice'])

In [4]:
df

     FireplaceQu GarageQual  SalePrice
0            NaN         TA     208500
1             TA         TA     181500
2             TA         TA     223500
3             Gd         TA     140000
4             TA         TA     250000
...          ...        ...        ...
1455          TA         TA     175000
1456          TA         TA     210000
1457          Gd         TA     266500
1458         NaN         TA     142125
1459         NaN         TA     147500

[1460 rows x 3 columns]

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['SalePrice']),df['SalePrice'],test_size=0.2)

In [11]:
from sklearn.impute import SimpleImputer

In [12]:
# imputer = SimpleImputer(strategy='most_frequent')
imputer = SimpleImputer(strategy='constant',fill_value='Missing')

In [13]:
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_train)

c:\Users\Jroam\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

In [14]:
imputer.statistics_

array(['Missing', 'Missing'], dtype=object)